<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite xmlns:con="http://eviware.com/soapui/config" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" id="83c29f52-f0c8-43b6-88a1-baa1fbf3448d" name="Payee process - Test Suite">
  <con:description id="387c7864-a671-486a-beef-80b7f93783c3">The test suite generated for the REST service [Payees API]</con:description>
  <con:settings id="265c323c-3456-4b72-a58a-e2ac5921af47">
    <con:setting id="83c29f52-f0c8-43b6-88a1-baa1fbf3448dfileName">Payee-process---Test-Suite</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
  <con:environmentSpec>
    <con:entry environmentId="f65b90da-3355-413b-8fa1-13e17040ddd0">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="32d6d81e-06cf-48f3-93d2-820943544c7c">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="bbc15548-9520-43e0-b936-6fc7f3b39708">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="dbd2e5a5-fafd-443e-88d2-3203312795d0">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:testSuite>
