<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite xmlns:con="http://eviware.com/soapui/config" id="83c29f52-f0c8-43b6-88a1-baa1fbf3448d" name="Test Suite 1">
  <con:description id="a2a94a7c-1e8f-4b2a-ac21-aed53c7857f5">The test suite generated for the REST service [Payees API]</con:description>
  <con:settings>
    <con:setting id="83c29f52-f0c8-43b6-88a1-baa1fbf3448dfileName">Test-Suite-1</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
